# Linear Regression

In [1]:
import pandas as pd
df=pd.read_csv("/content/Linear Regression - Sheet1.csv")
df.head()

   X         Y
0  1  3.888889
1  2  4.555556
2  3  5.222222
3  4  5.888889
4  5  6.555556

In [6]:
df.shape

(300, 2)

In [8]:
df.describe()

                X           Y
count  300.000000  300.000000
mean   150.500000  102.215556
std     86.746758   57.842711
min      1.000000    1.888889
25%     75.750000   52.388889
50%    150.500000  102.222222
75%    225.250000  152.055556
max    300.000000  201.888889

In [12]:
import numpy as np
from sklearn.model_selection import train_test_split

In [13]:
x= df.iloc[:,:-1].values
y=df.iloc[:,1].values

In [16]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=42)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lr= LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
print(lr.intercept_)

6.585440426796325

In [20]:
print(lr.coef_)

[0.6331428]

In [21]:
y_pred= lr.predict(x_test)

In [22]:
y_pred

array([135.74657151, 175.63456787, 103.45628874,  12.91686842,
       154.74085549, 150.3088559 , 131.31457191,  76.23114836,
        10.38429722, 118.01857313, 157.27342669,  43.30772279,
       145.2437135 ,  35.7100092 , 122.45057272, 147.1431419 ,
       190.19685226, 140.8117139 , 100.92371754, 111.68714513,
        56.60372158,  78.76371956, 164.87114028, 165.50428308,
        73.06543437,  33.8105808 , 185.13170986, 193.99570906,
       106.62200274, 157.90656949,  17.98201082, 111.05400233,
        28.11229561,  22.41401041, 143.3442851 ,  82.56257636,
        11.65058282,  64.20143517,  36.343152  ,  53.43800758,
        66.10086357,  55.33743598, 188.29742386,  45.20715119,
        55.97057878,  47.10657959, 155.37399829, 152.20828429,
        77.49743396, 153.47456989, 121.18428712,  98.39114634,
       158.53971229,  54.70429318, 195.26199465, 183.23228147,
        68.63343477,  65.46772077, 128.78200072,  23.04715321])

In [27]:
data= {'Actual':y_test, 'Predicted': y_pred}

In [28]:
df1= pd.DataFrame(data)
df1

        Actual   Predicted
0   139.222222  135.746572
1   181.222222  175.634568
2   105.222222  103.456289
3     9.888889   12.916868
4   159.222222  154.740855
5   154.555556  150.308856
6   134.555556  131.314572
7    76.555556   76.231148
8     7.222222   10.384297
9   120.555556  118.018573
10  161.888889  157.273427
11   41.888889   43.307723
12  149.222222  145.243714
13   33.888889   35.710009
14  125.222222  122.450573
15  151.222222  147.143142
16  196.555556  190.196852
17  144.555556  140.811714
18  102.555556  100.923718
19  113.888889  111.687145
20   55.888889   56.603722
21   79.222222   78.763720
22  169.888889  164.871140
23  170.555556  165.504283
24   73.222222   73.065434
25   31.888889   33.810581
26  191.222222  185.131710
27  200.555556  193.995709
28  108.555556  106.622003
29  162.555556  157.906569
30   15.222222   17.982011
31  113.222222  111.054002
32   25.888889   28.112296
33   19.888889   22.414010
34  147.222222  143.344285
35   83.222222   82.562576
36    8.555556   11.650583
37   63.888889   64.201435
38   34.555556   36.343152
39   52.555556   53.438008
40   65.888889   66.100864
41   54.555556   55.337436
42  194.555556  188.297424
43   43.888889   45.207151
44   55.222222   55.970579
45   45.888889   47.106580
46  159.888889  155.373998
47  156.555556  152.208284
48   77.888889   77.497434
49  157.888889  153.474570
50  123.888889  121.184287
51   99.888889   98.391146
52  163.222222  158.539712
53   53.888889   54.704293
54  201.888889  195.261995
55  189.222222  183.232281
56   68.555556   68.633435
57   65.222222   65.467721
58  131.888889  128.782001
59   20.555556   23.047153

In [33]:
import numpy as np
from sklearn import metrics
print('Mean Absolute error ', metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared error ', metrics.mean_squared_error(y_test,y_pred))

Mean Absolute error  2.829319661760929
Mean Squared error  11.554304857221398

In [35]:
print('Root Mean Squared error ', np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Root Mean Squared error  3.399162375824579

# Multiple Linear Regression

In [36]:
df2=pd.read_csv("/content/petrol_consumption.csv")

In [37]:
df2.shape

(48, 5)

In [38]:
df2.describe()

       Petrol_tax  ...  Petrol_Consumption
count   48.000000  ...           48.000000
mean     7.668333  ...          576.770833
std      0.950770  ...          111.885816
min      5.000000  ...          344.000000
25%      7.000000  ...          509.500000
50%      7.500000  ...          568.500000
75%      8.125000  ...          632.750000
max     10.000000  ...          968.000000

[8 rows x 5 columns]

In [39]:
df2.head()

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410

[5 rows x 5 columns]

In [40]:
x= df2[['Petrol_tax',	'Average_income',	'Paved_Highways',	'Population_Driver_licence(%)']]
y= df2['Petrol_Consumption']

In [41]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2, random_state=0)

In [42]:
mlr=LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
coeff=pd.DataFrame(mlr.coef_,x.columns,columns=['coeff'])

In [44]:
coeff

                                    coeff
Petrol_tax                     -40.016660
Average_income                  -0.065413
Paved_Highways                  -0.004741
Population_Driver_licence(%)  1341.862121

In [45]:
y_pred= mlr.predict(x_test)

In [46]:
y_pred

array([469.39198872, 545.64546431, 589.66839402, 569.7304133 ,
       649.77480909, 646.63116356, 511.60814841, 672.47517717,
       502.07478157, 501.2707342 ])

In [48]:
data1={'Actual': y_test,'Predicted': y_pred}
df4=pd.DataFrame(data1)

In [49]:
df4

    Actual   Predicted
29     534  469.391989
4      410  545.645464
26     577  589.668394
30     571  569.730413
32     577  649.774809
37     704  646.631164
34     487  511.608148
40     587  672.475177
7      467  502.074782
10     580  501.270734

In [50]:
print('Mean Absolute error ', metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared error ', metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared error ', np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Absolute error  56.822247478964684
Mean Squared error  4666.34478758836
Root Mean Squared error  68.31064915215167