##Support Vector Machine

In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
dataset= pd.read_csv('/content/Social_Network_Ads.csv')

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
dataset.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [5]:
ind_var=['User ID', 'Age', 'EstimatedSalary']
data= dataset[ind_var]
label=dataset.Purchased

In [6]:
data.head()

    User ID  Age  EstimatedSalary
0  15624510   19            19000
1  15810944   35            20000
2  15668575   26            43000
3  15603246   27            57000
4  15804002   19            76000

In [7]:
label.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [8]:
train_data, test_data, train_label, test_label= train_test_split(data, label, test_size=0.25)

In [9]:
train_data.shape, test_data.shape, train_label.shape, test_label.shape

((300, 3), (100, 3), (300,), (100,))

In [10]:
from sklearn.svm import SVC

In [11]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR

In [12]:
sc=StandardScaler()
train_data=sc.fit_transform(train_data)
test_data= sc.transform(test_data)

In [13]:
svr= SVR(kernel="linear")
svr.fit(train_data, train_label)
predicted_test_label=svr.predict(test_data)

In [14]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(test_label, predicted_test_label))
print('Mean Squared Error: ', metrics.mean_squared_error(test_label, predicted_test_label))
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(test_label, predicted_test_label)))

Mean Absolute Error:  0.2956078164883757
Mean Squared Error:  0.12630293644053103
Root Mean Squared Error:  0.3553912441810167