##Support Vector Machine

In [15]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
import numpy as np

In [16]:
dataset= pd.read_csv('/content/Social_Network_Ads.csv')

In [17]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [18]:
dataset.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [19]:
dataset["Gender"].replace({"Male": 0, "Female": 1}, inplace=True)

In [20]:
ind_var=['User ID', 'Gender','Age', 'EstimatedSalary']
data= dataset[ind_var]
label=dataset.Purchased

In [21]:
data.head()

    User ID  Gender  Age  EstimatedSalary
0  15624510       0   19            19000
1  15810944       0   35            20000
2  15668575       1   26            43000
3  15603246       1   27            57000
4  15804002       0   19            76000

In [22]:
label.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [23]:
train_data, test_data, train_label, test_label= train_test_split(data, label, test_size=0.25)

In [24]:
train_data.shape, test_data.shape, train_label.shape, test_label.shape

((300, 4), (100, 4), (300,), (100,))

In [25]:
from sklearn.svm import SVC

In [26]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR

In [27]:
sc=StandardScaler()
train_data=sc.fit_transform(train_data)
test_data= sc.transform(test_data)

In [28]:
svr= SVR(kernel="linear")
svr.fit(train_data, train_label)
predicted_test_label=svr.predict(test_data)

In [29]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(test_label, predicted_test_label))
print('Mean Squared Error: ', metrics.mean_squared_error(test_label, predicted_test_label))
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(test_label, predicted_test_label)))

Mean Absolute Error:  0.3011911729278506
Mean Squared Error:  0.1302872502718636
Root Mean Squared Error:  0.3609532521973775